.heading{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: blue;
}

.employee-item{
  border: 1px solid #ccc;
  padding: 10px;
  
}

.employee-div{
  width: 100%;
  position: relative;
}
.inner-div{
  width: 80%;
  height: 100%;
  margin: auto;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.inner-div table{
  width: 100%;
}

.inner-div input{
  width: 30%;
  height: 30px;
  box-sizing: border-box;
}

.inner-div button{
  width: auto;
  background-color: blue;
  color: white;
  border: none;
  height: 30px;
  padding: 0 15px;
  margin-left: 15px;
}
/* table tr{
  border: 1px solid black;
  width: 100%;
} */